.newQuestion {
  $primary: #11998e;
  $secondary: #38ef7d;
  $white: #000;
  $gray: #9b9b9b;

  &.card {
    padding: 2%;
    margin: 3% auto;
    h3 {
      text-transform: capitalize;
      font-family: cursive;
      font-size: 40px;
    }
  }
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 75%;
    .form__field {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 2px solid $gray;
      outline: 0;
      font-size: 1.3rem;
      color: $white;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
      }
      &:focus {
        padding-bottom: 10px;
        font-weight: 500;
        border-width: 3px;
        border-image: linear-gradient(to right, $primary, $secondary);
        border-image-slice: 1;
        & ~ .form__label {
          position: absolute;
          top: -5px;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          color: $primary;
          font-weight: 500;
        }
      }
      /* reset input */
      &:required,
      &:invalid {
        box-shadow: none;
      }
    }
    .form__label {
      position: absolute;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $gray;
      top: -5px;
    }
  }
}
